body {
    height: 100vh;
    background-color: rgb(187, 216, 241);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}


/* .outer {
    margin: 7.5rem;
    width: 700px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 10px 20px -6px rgb(124, 120, 120);
} */

.circle {
    display: block;
}

.circle img {
    /* position: fixed;
    top: 30%;
    left: 33%; */
    width: 10%;
    height: 10%;
}

.me {
    background-size: 100% 100%;
    width: 100%;
    clip-path: circle();
    position: fixed;
    top: 30%;
    left: 33%;
    width: 10%;
    height: 10%;
}

.text {
    position: fixed;
    top: 30%;
    left: 35%;
    font-size: 18px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.box1 {
    position: fixed;
    top: 45%;
    left: 42%;
    padding: 10px 40px;
    border: solid 2px black;
    background-color: blue;
    color: white;
}

.box2 {
    position: fixed;
    top: 45%;
    left: 55%;
    padding: 10px 40px;
    border: solid 2px black;
    color: black;
}