   body {
       justify-content: center;
       align-items: center;
       display: flex;
       background-color: rgb(182, 213, 240);
       font-family: "Poppins", sans-serif;
   }
   
   .main {
       display: flex;
       margin-top: 8rem;
       width: 700px;
       height: 400px;
       background-color: rgb(255, 255, 255);
       box-shadow: 0 10px 20px -6px rgb(124, 120, 120);
   }
   
   .content {
       display: flex;
   }
   
   img {
       width: 100px;
       height: 100px;
       margin: 3rem;
       border-radius: 50%;
       border: 8px solid rgb(228, 187, 252);
   }
   
   .about {
       margin: 2rem;
   }
   
   button {
       margin-right: 2rem;
       padding: 0.8rem;
       cursor: pointer;
       border: 1.5px solid rgb(2, 18, 253);
       background: transparent;
       border-radius: 3px;
   }
   
   button:hover {
       background-color: black;
       color: white;
   }
   
   .msg {
       background-color: rgb(75, 62, 250);
       color: white;
   }